.env
__pycache__
AI-Metareviewer/.env
AI-Metareviewer/__pycache__
AI-Metareviewer/large_inputs/ 
AI-Metareviewer/prompt_optimization/results/
AI-Metareviewer/prompt_optimization/data/
AI-Metareviewer/data_review/
